head {
  font-size: 16px;
}

ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

.intro {
  text-align: center;
  border: 4px solid white;
  font-size: 16px;
  font-weight: 300;
  width: 600;
  height: 400;

}

.background{
  background-size: cover;

}
li {
  float: left;
}

li a {
    display: block;
    color: white;
    z-index: 2;
    text-decoration: none;
    text-align: center;
    font: Serif;
}

li a:hover {
    background-color: #555;
    color: white;
}

a {
    display: block;
    padding: 8px;
    background-color: #0D7E82;
    opacity: .22;
    z-index: 1;
}

.active {
    background-color: #4CAF50;
}

.background{
  background-size: cover;
}
